<template>
    <div>
        <h1>Desks</h1>

        <form @submit.prevent="addNewDesk">
            <div class="form-group">
                <input type="text" v-model="deskname" class="form-control">
            </div>
            <button type="submit" class="btn btn-primary">Add</button>
        </form>

        <div class="row">
            <div class="col-lg-4" v-for="desk of desks">
                <div class="card mt-3">
                    <router-link class="card-title link-info btn" :to="{name: 'showDesk', params: {deskId: desk.id}}">
                        <h4>{{ desk.name }}</h4>
                    </router-link>

                    <button type="button" class="btn btn-danger" @click="deleteDesk(desk.id)">Delete</button>

                </div>
            </div>
        </div>

        <div class="alert alert-danger" role="alert" v-if="errored">
            error load data
        </div>

        <div class="spinner-border" style="width: 3rem; height: 3rem;" role="status" v-if="loading">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
</template>

<script>

export default {
    data: () => ({
        desks: [],
        deskname: null,
        errored: false,
        loading: true
    }),
    methods: {
        getAxios() {
            axios.get('/api/desks')
                .then(response => {
                    this.desks = response.data.data
                })
                .catch(error => {
                    console.log(error);
                    this.errored = true;
                })
                .finally(() => {
                    this.loading = false
                });
        },
        addNewDesk() {
            axios.post('/api/desks', {
                name: this.deskname
            })
                .then(() => {
                    this.deskname = ''
                    this.desks = [];
                    this.getAxios();
                })
        },
        deleteDesk(id) {
            if (confirm('are you sure to delete it? ')) {
                axios.post('/api/desks/' + id, {
                    _method: 'DELETE'
                })
                    .then(() => {
                        this.desks = [];
                        this.getAxios();
                    })
                    .catch(error => {
                        console.log(error);
                        this.errored = true;
                    })
                    .finally(() => {
                        this.loading = false
                    })
            }
        },
    },
    mounted() {
        this.getAxios();
    }
}
</script>
