<template>
    <div class="container">
        <div class="form-group">
            <input
                type="text"
                v-model="name"
                class="form-control"
                @blur="saveName"
                :class="{ 'is-invalid': $v.name.$error }"
            >
            <router-link type="button" class="btn btn-primary" to="/desk">to home</router-link>
            <div class="invalid-feedback" v-if="!$v.name.required">
                name field is required.
            </div>
            <div class="invalid-feedback" v-if="!$v.name.maxLength">
                max length: {{ $v.name.$params.maxLength.max }}
            </div>
        </div>

        <div class="alert alert-danger" role="alert" v-if="errored">
            error load data
        </div>

        <div class="spinner-border" style="width: 3rem; height: 3rem;" role="status" v-if="loading">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
</template>

<script>
import Vue from 'vue';
import Vuelidate from 'vuelidate';

Vue.use(Vuelidate);

const { required, maxLength } = require('vuelidate/lib/validators')

export default {
    props: [
        'deskId'
    ],
    data: () => ({
        name: null,
        errored: false,
        loading: true
    }),

    methods: {
        saveName() {
            this.$v.$touch();
            if (this.$v.$anyError) return;

            axios.post('/api/desks/' + this.deskId, {
                _method: 'PUT',
                name: this.name
            })
        }
    },
    mounted() {
        axios.get('/api/desks/' + this.deskId)
            .then(response => {
                this.name = response.data.data.name
            })
            .catch(error => {
                console.log(error);
                this.errored = true;
            })
            .finally(() => {
                this.loading = false
            })
    },
    validations: {
        name: {
            required,
            maxLength: maxLength(255)
        }
    }
}
</script>
